<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title, id: :movie_Title %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date, id: :movie_Date %>
  </div>

  <div class="field">
    <%= form.label :Theater %>
    <%= form.text_field :Theater, id: :movie_Theater %>
  </div>

  <div class="field">
    <%= form.label :Evaluation %>
    <%= form.text_field :Evaluation, id: :movie_Evaluation %>
  </div>

  <div class="field">
    <%= form.label :Comment %>
    <%= form.text_area :Comment, id: :movie_Comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
