<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title, id: :movie_Title %>
  </div>

  <div class="field">
    <%= form.label :Date %>
    <%= form.date_select :Date, id: :movie_Date %>
  </div>

  <div class="field">
    <%= form.label :Theater %>
    <%= form.text_field :Theater, id: :movie_Theater %>
  </div>

  <div class="field" id="star">
    <%= form.label :Evaluation, class:'col-md-3 col-form-label' %>
    <%= form.hidden_field :Evaluation, id: :movie_Evaluation %>
  </div>

  <script>
  $('#star').raty({
  path: '/assets/',
  half: true,
  click: function(score, e) {
  $("#movie_Evaluation").val(score)
  }
  });
  </script>

  <div class="field">
    <%= form.label :Comment %>
    <%= form.text_area :Comment, id: :movie_Comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
