<p id="notice"><%= notice %></p>

<h1>Movies App</h1>

  <p>
    <br>
    Search
    <br>
  </p>
  <p>
    <%= form_tag(movies_path, :method => 'get') do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search", :title => nil %>
  </p>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Theater</th>
      <th>Evaluation</th>
      <th>Comment</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.Title %></td>
        <td><%= movie.Date %></td>
        <td><%= movie.Theater %></td>
        <td>
          <div id = "star-rate"></div>
          <script>
            $('#star-rate').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= movie.Evaluation %>,
            })
          </script>
        </td>
        <td><%= movie.Comment %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
